<div class="display-box">
  <div class="top-bar"></div>
  <div class="container-info">
    <form >
      <!--
      <div class="head-info">
        <div class="item">
          <label for="name">ชื่อ - นามสกุล (ผู้ถือหุ้น)</label>
          <input class="textfield" type="text" value="Mr.name" disabled>
        </div>
        <div class="item">
          <label for="name">มอบฉันทะให้</label>
          <input class="textfield" type="text" value="Mr.lastname" disabled>
        </div>
        <div class="item">
          <label for="name">ลายเซ็นผู้มอบฉันทะ</label>
          <label class="form-control">
            <input type="checkbox" name="checkbox" />
            Checkbox
          </label>
        </div>
      </div>
       -->
 <form action="">
  <div class="item">
    <label for="name">ชื่อ - นามสกุล (ผู้ถือหุ้น)</label>
    <input class="textfield" type="text" value="Mr.name" disabled>
  </div>
  <div class="item">
    <label for="name">มอบฉันทะให้</label>
    <input class="textfield" type="text" value="Mr.lastname" disabled>
  </div>
  <div class="item">
    <div><label for="name">ลายเซ็นผู้มอบฉันทะ</label>  </div>
  </div>
 </form>
    </form>
  </div>
</div>
