<div class="tree-checkbox">
<div>
  <div class="container head">
    <div class="headcheck">
      <input type="checkbox" id="headerbox" disabled>
      <span class="checkmark"></span></div>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
      Proxy
    </div>
  </div>
<ul class="tree">
  @for (item of numFileScan; track numFileScan[$index].barcode) {
    <li class="head">
      <details>
          <summary>
            <div class="container">
              <input type="checkbox" id="{{numFileScan[$index].barcode}}" disabled>
              <span class="checkmark"></span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
              {{numFileScan[$index].barcode}}: <p class="{{numFileScan[$index].status}}">{{numFileScan[$index].status}}</p>
            </div>
          </summary>
          <ul>
            @for (x of numFileScan[$index].pagecunt; track x) {
              <li>
                <label class="container">
                  <input (click)="listCheckedCheckboxes()" type="checkbox" id="checker{{$index}}" #checkboxes>
                  <span class="checkmark"></span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                  <p class="texthead">Page {{x}}</p>
                </label>
              </li>
            }
        </ul>
      </details>
    </li>
  }
</ul>
</div>
