.box-display{
  height: 35rem;
}
.flex{
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

}


.grid{
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;

}
